*.o
*.d
alloctest
apitest
dumpgraph
edgeindextest
filtertest
listtest
loadgraph
nodeedgetest
propertychunktest
propertylisttest
propertypredicatetest
propertytest
setproperty
soltest
stringtabletest
txtest
allocgraph
apigraph
dumpgraph
edgeindexgraph
filtergraph
listgraph
loadgraph
nodeedgegraph
propertychunkgraph
propertylistgraph
propertypredicategraph
propertygraph
setproperty
solgraph
stringtablegraph
txgraph
