*.o
*.d
alloctest
apitest
edgeindextest
filtertest
listtest
nodeedgetest
propertychunktest
propertylisttest
propertypredicatetest
propertytest
setproperty
soltest
stringtabletest
txtest
load_tsv_test
allocgraph
apigraph
edgeindexgraph
filtergraph
listgraph
nodeedgegraph
propertychunkgraph
propertylistgraph
propertypredicategraph
propertygraph
setproperty
solgraph
stringtablegraph
txgraph
load_tsv_graph
